<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{.ClassName}}">

    <resultMap id="{{.ClassName}}Map" type="{{.Package}}.{{.ClassName}}">
        {{range .Cols}}{{if eq .DBName "id"}}<id column="id" property="id" />{{else}}    <result column="{{.DBName}}" property="{{.Name}}" />{{end}}
    {{end}}</resultMap>

    <sql id="{{.ClassName}}Fields">
        {{range $i, $v := .Cols}}{{if ne $i 0}}, {{end}}`{{$v.DBName}}`{{end}}
    </sql>
</mapper>